body {
  font-family: "Lato", sans-serif;
  background: #eee;
  background-position-y: 5%;
  background-size: cover;
  background-repeat: no-repeat;
 }
 h2,
 p,
 span {
  color: #444242;
 }
 #maintwo {
  transition: margin-left .5s;
 }
 
 .sidenav {
  text-align: center;
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #343a3d;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
 }
 
 .sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #f3f1f1;
  display: block;
  transition: 0.3s;
  padding: 20px;
 }
 
 .sidenav a:hover,
 .offcanvas a:focus {
  color: #f1f1f1;
 }
 
 .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px !important;
  margin-left: 50px;
 }
 
 @media screen and (max-height: 450px) {
  .sidenav {
   padding-top: 10px;
  }
  .sidenav a {
   font-size: 18px;
  }
 }